<section class="page-hero">
    <h1>Criar Conta</h1>
</section>

<form id="cadastro-form">

    <input type="text" name="nome" placeholder="Nome" required>

    <input type="text" name="sobrenome" placeholder="Sobrenome" required>

    <input type="text" name="usuario" placeholder="Usuário" required>

    <input type="password" name="senha" placeholder="Senha" required>

    <button type="submit">Cadastrar</button>

</form>

<p id="resultado"></p>

<script src="/parque_ecologico/public/js/cadastro.js"></script>