<section class="page-hero">
    <h1>Acesso ao Sistema</h1>
    <p>Entre na sua conta ou cadastre-se para realizar reservas.</p>
</section>

<div class="login-panel">

    <!-- LOGIN -->
    <form id="login-form">

        <div class="form-group">
            <label for="login_usuario">Usuário</label>
            <input type="text" id="login_usuario" required>
        </div>

        <div class="form-group">
            <label for="login_senha">Senha</label>
            <input type="password" id="login_senha" required>
        </div>

        <button type="submit" class="btn">Entrar</button>
    </form>

    <!-- Cadastro removido -->

    <p id="login-msg"></p>

</div>

<script src="/parque_ecologico/public/js/login.js"></script>